.form {
    border-radius: 10px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    
    background-color: #f6f6f6;
    margin-top: 3rem;
  
}
.header {
    padding-top: 2rem;
    text-align: center;

}
.formTitle{
    width: 60%;
    height: auto;
    text-align: left;
    margin: 0 auto;

    margin-top: 50px;
}